@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  color: var(--text_color);
}
body {
  width: 1440px;
  margin: 0 auto; 
  background-color:white
}
body::-webkit-scrollbar {
  display: none;
}

.gradient-btn {
  background: linear-gradient(67deg, #933FFE 0%, #18C8FF 100%);
}
.black_gradient{
  background: 'linear-gradient(90deg, rgba(27,27,31,1) 42%, rgba(141,0,255,1) 61%, rgba(16,15,17,0.8827906162464986) 93%);'
}
